# Diretórios de Módulos
node_modules
/dist
/build

# Arquivos de Log e Erro do NPM
npm-debug.log*
yarn-debug.log*
.eslintcache

# Arquivos de Ambientes e Segredos 
.env
.env.local
.env.*.local

# Arquivos de Sistemas Operacionais
.DS_Store       
Thumbs.db       